services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: 6VkuJ3pxzbrBp2NW
      MYSQL_DATABASE: api_ts_db
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password

  api:
    build: .
    depends_on:
      - db
    restart: always
    ports:
      - "3333:3333"
    environment:
      PORT: 3333
      NODE_ENV: development
      JWT_SECRET_KEY: mysupersecret
      APP_URL: http://localhost:3333
      DATABASE_URL: "mysql://user:6VkuJ3pxzbrBp2NW@db:3306/api_ts_db"
    volumes:
      - .:/app
      - /app/node_modules
    command: >
      sh -c "
        npx prisma generate &&
        npx prisma db push &&
        npm run dev
      "

volumes:
  mysql_data:
